﻿    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Scripts/entity.js"></script>
    <script src="~/Scripts/dateformat.js"></script>


<div class="container">
    <h2>КРУДЪ</h2>
    <button type="button" class="Add btn-primary" data-toggle="modal" data-target="#myModal" onclick="Add();">Д0bавить</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                ИД
            </th>
            <th>
                КАКАЯ ТА СТРОКА
            </th>
            <th>
                КАКАЯТА ДАТА
            </th>
            <th>
                КАКОЕ ТО ЧИСЛО
            </th>
           
        </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>